body{
  margin: 0;
  padding: 0;
  background-color: #000914;
  text-align: center;
  font-family: 'Fredoka One', sans-serif;
  letter-spacing: 0.05em;
}
.noselect {
  -webkit-user-select: none;  /* Chrome & Safari */
  -moz-user-select: none;     /* Firefox */
  -ms-user-select: none;      /* IE */
  user-select: none;
}
input{
  -webkit-appearance: none;
}

.sp-title{
  display: block;
  text-align: center;
  margin: 20vh auto calc(10vh - 2vw);
  font-family: 'Luckiest Guy', sans-serif;
  color: #eee;
  font-size: 10vw;
  letter-spacing: 0.05em;
}

@keyframes rainbow{
  0% {background-color: #ff4444; outline-color: #ff4444}
  16% {background-color: #ffff00; outline-color: #ffff00}
  33% {background-color: #44ff44; outline-color: #44ff44}
  50% {background-color: #00ffff; outline-color: #00ffff}
  66% {background-color: #8888ff; outline-color: #8888ff}
  83% {background-color: #ff00ff; outline-color: #ff00ff}
  100% {background-color: #ff4444; outline-color: #ff4444}
}
.createbtn{
  display: block;
  text-align: center;
  padding: 0.6vw 0.6vw 1.3vw 0.6vw;
  width: 20vw;
  height: 2.2vw;
  background-color: #000914;
  outline: 6px solid #eee;
  margin: 0 auto;
  color: #eee;
  font-size: 2.2vw;
  cursor: pointer;
}
.createbtn:hover{
  -webkit-background-clip: text;
  color: transparent;
  animation: rainbow 1s linear infinite;
}
